body {
    background-image: url('../img/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    padding:5px;
}



a {
    text-decoration: none !important;
    color: inherit;
}


#search {
    width: 55%;
    margin: 0 auto;
}

header {
    margin-top: 5%;
}


.icon {
    width: 20%;
}

.info-title {
    font-size: 18px;
}

#margin-search {
margin-bottom: 5%;
color: #2F2F2F;
}

#margin-search-results {
    color: #2F2F2F;
}

.title {
	font-size: 70px;
}

.subtitle {
	font-size: 25px;
}

#right-panel {
    background-color: white;
    height: 100%;
    
}

#home-cloudy {
    font-size: 28px;
}

#home-city-name {
    background-color: #F7F7F7;
  
    font-size: 40px;
}

#home-more-info div p {
    font-size: 18px;
}

.panel-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}