body {
    background-image: url('../img/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}


#search {
    width: 55%;
    margin: 0 auto;
}

header {
    margin-top: 5%;
}

.icon {
    width: 20%;
}

.info-title {
    font-size: 20px;
}

#margin-search {
margin-bottom: 5%;
color: white;
}

.title {
	font-size: 70px;
}

.subtitle {
	font-size: 25px;
}
